.App {
    font-family: sans-serif;
    text-align: center;
}

.line {
    justify-content: start;
    display: flex;
    overflow-x: scroll;
    font-family: monospace;
    overflow-y: hidden;
    height: 16px;
}

.line:hover {
    cursor: pointer;
    background-color: gray;
}

.bookmark {
    background-color: yellow;
}